body{
margin:0;
font-family:'Space Grotesk',sans-serif;
background:#050505;
color:white;
overflow-x:hidden;
}

.bg{
position:fixed;
inset:0;
z-index:-1;
background:
radial-gradient(circle at 20% 20%,#ff2bd655,transparent 40%),
radial-gradient(circle at 80% 30%,#7b2cff55,transparent 45%),
radial-gradient(circle at 50% 80%,#00d4ff33,transparent 50%);
filter: blur(90px);
}

/* HEADER GLASS Y2K */
header{
text-align:center;
padding:50px 20px;
backdrop-filter: blur(10px);
}

header h1{
font-size:3.8rem;
background:linear-gradient(90deg,#ff2bd6,#7b2cff,#00d4ff);
-webkit-background-clip:text;
-webkit-text-fill-color:transparent;
text-shadow:0 0 30px #ff2bd655;
}

/* PANEL GLASS */
.panel{
max-width:700px;
margin:auto;
display:flex;
flex-direction:column;
gap:12px;
padding:20px;
}

input{
padding:14px;
border-radius:14px;
border:1px solid #333;
background:rgba(20,20,20,0.7);
color:white;
outline:none;
}

button{
padding:14px;
border:none;
border-radius:14px;
background:linear-gradient(90deg,#ff2bd6,#7b2cff);
color:white;
font-weight:800;
cursor:pointer;
box-shadow:0 0 20px #ff2bd633;
}

.track{
background:rgba(20,20,20,0.8);
padding:18px;
margin:15px;
border-radius:18px;
border:1px solid #2a2a2a;
backdrop-filter: blur(8px);
}

.top{
display:flex;
justify-content:space-between;
}

.nick{
color:#ff2bd6;
font-weight:800;
}

.like{
cursor:pointer;
background:#111;
padding:8px 12px;
border-radius:12px;
border:1px solid #333;
}

iframe{
width:100%;
margin-top:10px;
border-radius:12px;
height:200px;
border:none;
}

.comments{
margin-top:10px;
font-size:14px;
color:#bbb;
}

.commentBox{
width:100%;
margin-top:10px;
padding:10px;
border-radius:12px;
background:#111;
border:1px solid #333;
color:white;
}

.smallBtn{
margin-top:6px;
padding:8px;
border-radius:10px;
background:#7b2cff;
border:none;
color:white;
cursor:pointer;
}