.tag{
  display:inline-block;
  padding:6px 10px;
  margin:4px 4px 0 0;
  border-radius:999px;
  font-size:12px;
  background:linear-gradient(90deg,#ff00cc,#3333ff);
  color:white;
  cursor:pointer;
  box-shadow:0 0 10px #ff00cc55;
}

.track{
  transition:0.2s;
}

.track:hover{
  transform:scale(1.01);
  border-color:#ff00cc55;
}

/* KOMPAKT MODE */
.compact .track iframe{
  height:120px;
}

.compact .comments{
  display:none;
}

/* MOBILE UX */
@media(max-width:700px){
  header h1{ font-size:2.2rem; }

  .track{
    margin:10px;
    padding:12px;
  }
}